{{> header}}

<div class='container mt-3'>
  <div class='row'>
    <div class='col'>
      <h1>Hasta Luego</h1>
    </div>
  </div>
</div>
  <script>
    window.setTimeout(() => {
      window.location = "/"
    }, 2000)
  </script>
{{> footer}}
